<h1>Players</h1>

<p class="btn--wrapper">
  <a class="btn btn--action" href="/players/new">Add a player</a>
</p>

<table align="center">
  <tr>
    <th>First name</th>
    <th>Last Name</th>
    <th>Team</th>
    <th>Position</th>
    <th>Details</th>
  </tr>
  <% for player in @players %>
  <tr>
    <td><%= player.first_name %></td>
    <td><%= player.last_name %></td>
    <td><%= player.team.name %></td>
    <td><%= player.position %></td>
    <td> <p class="btn-wrapper">
         <a class="btn btn--action" href="/players/<%= player.id %>">Show player details</a></p></td>
  </tr>

  <% end %>
</table>
