<h1>Player <%= @player.first_name%></h1>

<p>Team: <%= @Player.team %></p>
<p>Position: <%= @Player.position %></p>
<p>Salary <%= @Player.salary %></p>
<p>Injury <%= @Player.injury %></p>
<p>Goals <%= @Player.goals %></p>
