

<p>Team: <%= @team.name %></p>
<p>Players:</p>

  <select name="team.players">
    <% for team.players in @teams %>
    <option value="<%= team.players %>"><%= team.players %></option>
    <% end %>
  </select>
</label>


<%= @team.players %></p>


<p><a class="btn btn--action" href="/teams/<%= @team.id %>/edit">Edit Team</a></p>


<form class="btn btn--action" method="post" action="/teams/<%= @team.id %>/delete">
  <input type="submit" value="delete team"/>
</form>
