
<h1>Team: <%= @team.name %></h1>

<div class="wrapper">

<ul class="no-style">
  <% for person in @team.players %>

    <li> <div class="<%= person.position %>"><a href="/players/<%= person.id %>"><%= person.pretty_name %></div></li></a>

</a>
<br>
<br>
<% end %>
</ul>
</div>

<p><a class="btn btn--action" href="/teams/<%= @team.id %>/edit">Edit Team Name</a></p>

<p><a class="btn btn--action" href="/teams">Back to Teams</a></p>
